

body {
  text-align:center;
}

nav {
  text-align:center;
  background: url(backgroundimage.jpg) darkslategrey;
  background-size:940px;
}

nav b {
  border-bottom: none;
  text-align: center;
  line-height: 7;
  column-width: 100000px;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: monospace;
  font-weight: bolder;
}

b#navTitle{
  background:none;
  line-height:5.7;
  text-shadow: 6px 6px 3px rgba(0,0,0,0.3);
}

div {
  margin-top: 0px;
}

form {
  margin-top:50px;
}

input {
  margin-top:50px;
  text-align:center;
  border: none;
  border-bottom: 2px solid darkcyan;
  background-color: #eeeeee;
  outline: none;
}

button {
  text-align:center;
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 16px;
  -webkit-text-stroke-width: thin;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
    background-color: skyblue;
    color: white;
}
